<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Format</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
<!-- Option to display product Photos by Category -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="theme-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="theme-link">
                <a href="{% url 'products' %}?category=architectural" class="dropdown-item">Architectural</a>
                <a href="{% url 'products' %}?category=cities" class="dropdown-item">City</a>
                <a href="{% url 'products' %}?category=landscape" class="dropdown-item">Landscape</a>
                <a href="{% url 'products' %}?category=street" class="dropdown-item">Street Photo</a>
                <a href="{% url 'products' %}?category=architectural,cities,landscape,street" class="dropdown-item">All Photos</a>
            </div>
        </li>
<!-- Option to display product Photos by Format -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="format-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Format
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="format-link">
                <a href="{% url 'products' %}?format=horizontal" class="dropdown-item">Horizontal</a>
                <a href="{% url 'products' %}?format=square" class="dropdown-item">Square</a>
                <a href="{% url 'products' %}?format=vertical" class="dropdown-item">Vertical</a>
                <a href="{% url 'products' %}?format=horizontal,square,vertical" class="dropdown-item">All formats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="publications-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Publications
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Art Magazines</a>
                <a href="" class="dropdown-item">Books</a>
                <a href="" class="dropdown-item">Postcards &amp; Calendars</a>
                <a href="" class="dropdown-item">All Publications</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}#about">About</a>
        </li>

    </ul>
</div>